.login{
text-align: center;
margin:auto;
}

.logtext{
  color:white;
}


.submitlog {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  width: 10%;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-align: center;
  text-decoration: none;
  padding: 14px 60px;
  border: 2px solid #ff7675; 
  text-transform: uppercase;
  overflow: hidden;
  background-color: Transparent;
}
