@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align:center;
}

body{
  margin: 0;
  padding: 0;
  background: #2d3436;
}

.middle{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn{
  position: relative;
  display: block;  
  width: 6em;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-align: center;
  text-decoration: none;
  margin: 15px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  background-color: Transparent;
  
}

.submit {
  position: relative;
  display: block;
  width: 100%;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-align: center;
  text-decoration: none;
  margin: 15px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  background-color: Transparent;
}

div {
  position: relative;
}
