<!DOCTYPE html>

<head>
   <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/main.css') }}">    
   <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/checkboxes.css') }}">
<link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/login.css') }}">
   <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<h1>Login</h1>
<br><br>

<div class = "login">
<form action="" method = "POST">
    <p class="logtext">Email <input type = "email" size="30" name = "email" /></p>
<br>
    <p class="logtext">Password <input type = "password" size="30" name = "password" /></p>
<br>
    <input type = "submit" value = "Submit" class = "submitlog" />
</form>

<br>

{% if max_users == false %}
<h3>Dont Have an account??</h3>
<h3><a href = "/register">Register Here</a></h3>
{% endif %} 

</div>
