<!DOCTYPE html>
<head>
   <title>RPi Web Server</title>
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" href="https://media.istockphoto.com/vectors/flat-sun-icon-or-symbol-vector-id607288774?k=6&m=607288774&s=170667a&w=0&h=SAvruqyWOnwF8yuMGnZsZL0y6dSG-JK5irI26K380dU=">
   <!-- Optional theme -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

</head>
<body>

<h1>Wine chooser</h1>


{% for x in range(0,10) %}

<input list="{{x}}" name="{{x}}"/>
<datalist id="{{x}}">
    {% for y in range(0,winelist[x]|length) %}
     <option value="{{winelist[x][y]}}">{{winelist[x][y]}}</option>
    {%endfor%}
  </datalist>
</input>

{% endfor %}

<form action="/wine">
    <input type="submit" id="okButton" value="Get wine" />
</form>

{% for x in results %}
<p>{{x[0]}} Column: {{x[8]}} Row: {{x[9]}}<p> 
<input type="submit" id="choosebutton" value="Choose">

{% endfor %}

<form action="/">
    <input type="submit" value="Go back" />
</form>

<script>
            function getVals(){
			var datalists = [];
                        var values = [];
                        for (let i=0; i<10; i++){
                                var test2 = $('[name=' + i.toString() + ']').val();
                                values.push(test2)
                                }
			return(values)
            }
            $(document).ready(function () {
                $("#okButton").on("click", function() {
                    var js_data = JSON.stringify(getVals());
                    $.ajax({                        
                        url: '/wine',
                        type : 'post',
                        contentType: 'application/json',
                        dataType : 'json',
                        data : js_data
                    }).done(function(result) {
                        $("#data").html(result);
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        console.log("fail: ",textStatus, errorThrown);
                    });
                });
            });	




</script>
</body>
</html>
